<ul class="nav sticky-top">
    <div class="icon">
        <li> 
            <img src="../../public/img/jimmy-english-logo.svg" alt="Jimmy English Logo">
        </li>
       
    </div>
    <div class="nav-links">
        <li class="nav-link"><a href="../../stats">Stats</a></li>
        <li class="nav-link"><a href="../../">Home</a></li>
        <li class="nav-link"><a href="../../classes">Classes</a></li>
        <li class="nav-link"><a href="#">Login</a></li>
    </div>
</ul>