<ul class="nav">
    <div class="icon">
        <h5 class="text-uppercase">James Admin</h5>
    </div>
    <div class="nav-links">
        <li class="nav-link"><a href="../">Home</a></li>
        <li class="nav-link"><a href="../classes">Classes</a></li>
        <li class="nav-link"><a href="#">Login</a></li>
    </div>
</ul>