<% layout('boilerplate') -%>

<style>
    body {
        box-sizing: border-box;
    }

    .indDocDiv > form > button {
        padding: 0.5rem 0;
        margin-left: 1rem;
    }

    .indDocDiv > form > button > div {
        padding-bottom: 0.3rem;
    }


    .indDocDiv > form > button:hover {
         background: linear-gradient(white, 80%, rgb(115, 183, 228));
    }

    .indDocDiv {
        width: max-content;
    }

</style>


<% for(let files of PDFFiles){ %>
    <!-- declare another variable of file so that the path to put into the action attribute stays the same to retrieve the file. -->
    <% let file = files.replace(/-/g, " "); %> 
    <% file = file.replace(/.pdf/g, ""); %>
    <% file = file.charAt(0).toUpperCase() + file.slice(1); %>
    <% file = file + "."; %>
        <div class="indDocDiv">
            <form target="_blank" action="/documents/<%= files %>" method="POST">
                <button class="btn">
                    <div><%= file %></div>
                </button>
            </form>
        </div>

<% } %>
