<% layout('boilerplate') -%>

    
<body>
    <div class="home-title-div">
        <h1>James' Class Administration System</h1>
    </div>
    <div class="home-page-container container">
        
    </div>
</body>

    
