<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/JimmyEnglish.css">
    <title>Jimmy English</title>
</head>
<body>
    


    <header class="nav-container">
            <!--<p class="logo">JIMENG</p>-->
            <img class="logo" src="img/Images/teacher-svgrepo-com.svg" alt="A teacher SVG image for the navigation bar">
        
        <div class="social-media-links">
    <a href="https://www.instagram.com/jimmyenglish1988" target="_blank" ><img class="social-icon" src="img/Images/instagram-svgrepo-com.svg" alt="instagram logo link"></a> 
    <a href="https://www.facebook.com/jimmyenglish1988" target="_blank" ><img class="social-icon" src="img/Images/facebook-svgrepo-com.svg" alt="facebook logo link"></a> 
    <img class="social-icon" src="img/Images/twitter-svgrepo-com.svg" alt="twitter logo link">
        </div>
        
            <nav>
            <ul class="nav-list">
                <li><a href="#about-me">About me</a></li>
                <li><a href="#contact-info">Contact</a></li>
                <li><a href="#experience-qualifications">Experience</a></li>
                <li><a href="/classes">My Admin</a></li>
            </ul>
        </nav>
    </header>

<div class="header-div"> 



    <h1 class="title">JIMMY ENGLISH </h1>
    <h2 class="title-1" >ONLINE AND FACE TO FACE</h2>

 <img class="down-arrow" src="img/Images/down-arrow-svgrepo-com.svg" alt="A downward facing arrow to navigate down the page">

</div>
    
<hr class="hr">

<section id="about-me">

    <img class="section-icons" src="img/Images/teacher-svgrepo-com.svg" alt="Icon of a person">

    <h2>ABOUT ME</h2>
        <p>
            HI! I'm James or alternatively you can call me "Jimmy", experienced English teacher from northern England 
            living in Sabadell near Barcelona. I've been teaching English for more than 5 years. I've taught in prestigious language academies
            and online teaching all levels and ages, including Cambridge Exams such as, FCE (First Certificate),
            CAE (Adavanced) and CPE (Proficiency). </br>
        </br>
            <strong><p id="lets">Let's have a chat and put a course together especially for you and your needs!</p> </strong>  
        </p>
</section>

<hr class="hr">

<section id="experience-qualifications">

    <img class="section-icons" src="img/Images/graduation-svgrepo-com.svg" alt="A person with a graduation hat">

        <h2>EXPERIENCE AND QUALIFICATIONS</h2>
            <p>5 years working as an English teacher at various academies in Barcelona</p><br>
            <p>BA degree in Business Management - University of Hull, England</p><br>
            <p>Cambridge English Language Teaching to Adults - CELTA - Cambridge University</p>
</section>

<hr class="hr">

<section id="contact-info">

    <img class="section-icons" src="img/Images/letter-contact-svgrepo-com.svg" alt="A icon of an envelope">

         <h2>CONTACT INFORMATION</h2>

            <div class="contact-div">
                <p><strong>Telephone:</strong> Spain - 675324622 </p><br>
                <p><strong>Email Address:</strong> <a href="mailto:pawson1988@me.com">pawson1988@me.com</a> or <br><a href="mailto:james@jamespawson.com">james@jamespawson.com</a> </p><br>
                <p><strong>WhatsApp:</strong> +34675324622</p>
            </div>
</section>

<!-- <section class="testimonials">

    <h2>TESTIMONIALS</h2>

        <p>

        </p>

</section> -->
</body>
</html>