.container-div {
    display: flex;    
    justify-content: center;
}

.activate-delete-div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.activate-delete {
    height: 2.5rem;
    margin-top: 0.4rem;
    margin-right: 1.2rem;
}

.class-container {
    margin-right: 1.25rem;
    border-radius: 5px;
    display: flex;  
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    background: linear-gradient(to right,rgb(253, 253, 253), 90%, rgb(114, 206, 230)); 
    box-shadow:4px 4px 15px rgb(175, 175, 175);
    font-size: 0.75rem;
}

.class-outer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.5rem !important;
}

.info-div {
    margin-right: 3.5rem;
    width: 100%;
}

.info-item {
    margin: 0.5rem;
}

.edit-class-div {
    display: none;
}

.edit-iniciate {
    margin-right: 1.5rem;
}

.buttons {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}