*, *::after, *::before {
    box-sizing: border-box;
}

.nav {
    background: linear-gradient(rgb(180, 214, 248), rgb(114, 206, 230));
    padding: 7px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem !important;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-link > * {
    text-decoration: none;
    color: black;
}

.nav-link > *:hover {
    color: white;
    border-bottom:2px solid rgb(38, 211, 38);
}

.icon {
    padding: 7px;
    margin-left: 18px;
}